ul#kaiten {
  list-style: none;
  top: 0;
  height: 300px;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul#kaiten li#kaiten,
ul#kaiten li#kaiten dl {
  width: 100%;
  height: 300px;
}

ul#kaiten {
  letter-spacing: -1em;
}

ul#kaiten li#kaiten {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0 5px;
  letter-spacing: 0;
}

ul#kaiten dl {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 20px 25px;
  color: #fff;
  background: black;
}

ul#kaiten dl dt {
  margin-bottom: 0.3em;
}

ul#kaiten dl dd {
  margin: 0;
  font-size: 10px;
  line-height: 1.6;
  text-align: justify;
  word-break: break-all;
}

ul#kaiten dl dd:last-of-type {
  margin-top: 10px;
  text-align: right;
}

ul#kaiten a {
  padding: 0.3em 0.5em;
  background-color: #fff;
}

/* type2 */

.type2 {
  overflow: visible;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.type2 img#img_kaiten,
.type2 dl,
.type2 span{
  -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.6s, transform 0.6s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.type2:hover img#img_kaiten,
.type2:hover span{
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

span.sample1 {font-size: 50px; }

.type2 dl {
  background-color: #cd5c5c;
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}

.type2:hover dl {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
}

li{
  font-size: 20px;
}
td{
  font-size: 20px;
}




body{
  background-color: black;
  font-family:"Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
  font-size:15px;
}
body#work{
  background-color:#222222;
}

h1,h2{
  color:DeepPink;
  border-color: Chartreuse;
  padding: 5px;
  border-style:solid;
  border-width:5px 0 0 5px;
  padding:10px;
}

h3{
  color: DeepPink;
}

span{
  font-weight: bold;
}
span#blk{
  color: black;
}
span#pnk{
  color: yellow;
}
span#blu{
  color: DeepPink;
}
span#ylw{
  color: Turquoise;
}

@keyframes slidein_h {
  from{
    margin-left: 100%;
    width: 0%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein_okm {
  from{
    margin-left: 90%;
    width: 100px;
    transform: rotate(720deg);
  }
  to {
    margin-left: 0%;
    width: 100px;
    transform: rotate(0deg);
  }
}

img#okm{
  animation-duration: 2s;
  animation-name: slidein_okm;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

/*ul{
  padding:0 100px;
  color: white;
}*/

table{
  /*width:50%;margin:auto;
  border-collapse:collapse;*/
  animation-duration: 3s;
  animation-name: table_move;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  color: white;
}
@keyframes table_move{
  from{
    width:50%;margin: auto;
    border-collapse:collapse;
  }
  to{
    width: 80%;margin: auto;
    border-collapse:collapse;
  }
}

table td{
  border:solid 2px white;
}

td{
  padding:3px;
}

p{
  padding:0 50px;
  color: white;
  font-size: 20px;
}
p#neko{
  font-size: 15px;
  text-align: center;
}

img#line{
  width:49.5%;
  height:49.5%;
}
img#keningen{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img#vj{
  width:33%;
}
