body{
  background-color: black;
  font-family:"Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
  font-size:15px;
}

h1,h2{
  color:DeepPink;
  border-color: Chartreuse;
  padding: 5px;
  border-style:solid;
  border-width:5px 0 0 5px;
  padding:10px;
}

h3{
  color: DeepPink;
}
/*h3{
  color:DeepPink;
  animation-duration: 6s;
  animation-name: slidein_h;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}*/

@keyframes slidein_h {
  from{
    margin-left: 100%;
    width: 0%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein_okm {
  from{
    margin-left: 90%;
    width: 100px;
    transform: rotate(720deg);
  }
  to {
    margin-left: 0%;
    width: 100px;
    transform: rotate(0deg);
  }
}

img#okm{
  animation-duration: 2s;
  animation-name: slidein_okm;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

ul{
  padding:0 100px;
  color: white;
}

table{
  /*width:50%;margin:auto;
  border-collapse:collapse;*/
  animation-duration: 3s;
  animation-name: table_move;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  color: white;
}
@keyframes table_move{
  from{
    width:50%;margin: auto;
    border-collapse:collapse;
  }
  to{
    width: 80%;margin: auto;
    border-collapse:collapse;
  }
}

table td{
  border:solid 2px white;
}

td{
  padding:3px;
}

p{
  padding:0 50px;
  color: white;
}

img#line{
  width:49.5%;
  height:49.5%;
}
img#keningen{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img#vj{
  width:33%;
}
