@charset "UTF-8";

body {
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    font-size: 0.95em;
    /*background-image: url("./piramid.png");*/
    background-color: #000000;
    background-size: 200px 200px;
}

h1 {
    margin: 10px 0;
    padding: 0;
    color: #00a3ff;
    font-family: inherit;
    font-size: 50px;
    text-align: center;
}

h2 {
    margin: 50px 0 0 0;
    padding: 0;
    color: #00ff19;
    font-family: inherit;
    font-size: 25px;
    text-align: center;
}

div#menu{
  color: #9e00ff;
  padding-top: 50%;
  text-align: center;
  font-size: 150%;
}

img#tatenaga{
  width: 30vw;
}
img#yokonaga{
  width: 45vw;
}
img#seihoukei{
  width: 30vw;
}

div#Bbtns{
  text-align: center;
}

div#Cbtns{
  padding-top: 50px;
  text-align: center;
}

.modoruBtn{
  font-size: 30px;
  font-weight: bold;
  width: 200px;
  height: 50px;
  background: #faff00;
  border: 1px solid #00ffff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 70px;
  color: #ff00ed;
  -moz-box-shadow: inset -7px -7px 7px #00ffff,inset 7px 7px 7px #ffffff;
  -webkit-box-shadow: inset -7px -7px 7px #00ffff,inset 7px 7px 7px #ffffff;
  /*padding: 0px 0px;*/
  margin: 10px auto;
  /*margin: 0 5px;*/
}

.contentsBtn{
  font-size: 40px;
  font-weight: bold;
  width: 350px;
  height: 60px;
  background: #00f0ff;
  border: 1px solid #ff0000;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 70px;
  color: #420075;
  -moz-box-shadow: inset -7px -7px 7px #ff0000,inset 7px 7px 7px #ffffff;
  -webkit-box-shadow: inset -7px -7px 7px #ff0000,inset 7px 7px 7px #ffffff;
  margin: 10px auto;
}

.twitter-tweet{
  margin: 0px auto;
}
