@charset "UTF-8";

body {
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    font-size: 0.95em;
    background-image: url("./piramid.png");
    /*background-color: #000761;*/
    background-size: 200px 200px;
}

.top_bg {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 0.95em;
  /*background-image: url("./piramid.png");*/
  background-size: 200px 200px;
  -webkit-animation:top_bg 1.0s ease-in-out infinite alternate;
  -moz-animation:top_bg 1.0s ease-in-out infinite alternate;
  animation:top_bg 1.0s ease-in-out infinite alternate;
}

@-webkit-keyframes top_bg{
  0% {background-image: url("./piramid.png");}
  100% {background-image: url("./piramid8.png");}
}
@-moz-keyframes top_bg{
  0% {background-image: url("./piramid.png");}
  100% {background-image: url("./piramid8.png");}
}
@keyframes top_bg{
  0% {background-image: url("./piramid.png");}
  100% {background-image: url("./piramid8.png");}
}

h1 {
    margin: 10px 0;
    padding: 0;
    color: #00a3ff;
    font-family: inherit;
    font-size: 50px;
    text-align: center;
}

.result {
  -webkit-animation:result_blink 0.1s ease-in-out infinite alternate;
  -moz-animation:result_blink 0.1s ease-in-out infinite alternate;
  animation:result_blink 0.1s ease-in-out infinite alternate;
}

@-webkit-keyframes result_blink{
    0% {color: #0dff00;}
    100% {color: #9e00ff;}
}
@-moz-keyframes result_blink{
    0% {color: #0dff00;}
    100% {color: #9e00ff;}
}
@keyframes result_blink{
    0% {color: #0dff00;}
    100% {color: #9e00ff;}
}

div#menu{
  color: #9e00ff;
  padding-top: 50%;
  text-align: center;
  font-size: 150%;
}

img#logo{
  width: 100%;
  position: absolute;
  z-index: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



div#btns{
  padding-top: 50vw;
  width: 300px;
  /*margin-top: 0;*/
  margin-left: auto;
  margin-right: auto;
}

div#Bbtns{
  width: 100px;
  /*margin-top: 0;*/
  margin-left: auto;
  margin-right: auto;
}

/*.maruBtn {
    font-size: 40px;
    font-weight: bold;
    width: 400px;
    height: 50px;
    background: #ff00bf;
    border: 1px solid #ff0000;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    color: #420075;
    -moz-box-shadow: inset -7px -7px 7px #ff0000,inset 7px 7px 7px #ffffff;
    -webkit-box-shadow: inset -7px -7px 7px #ff0000,inset 7px 7px 7px #ffffff;
    padding: 0px 10px 60px;
    /*margin: 0 5px;
}*/

.maruBtn {
    font-size: 40px;
    font-weight: bold;
    width: 400px;
    height: 60px;
    background: #ff00bf;
    border: 1px solid #ff0000;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 70px;
    color: #420075;
    -moz-box-shadow: inset -7px -7px 7px #ff0000,inset 7px 7px 7px #ffffff;
    -webkit-box-shadow: inset -7px -7px 7px #ff0000,inset 7px 7px 7px #ffffff;
    /*padding: 0px 0px;*/
    margin: 10px auto;
    /*margin: 0 5px;*/
}

.maruBtn:active{
  background:#faff00;
  color: #ff00ed;
  -moz-box-shadow: inset -7px -7px 7px #00ffff,inset 7px 7px 7px #ffffff;
  -webkit-box-shadow: inset -7px -7px 7px #00ffff,inset 7px 7px 7px #ffffff;
}

.modoruBtn{
    font-size: 30px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    background: #faff00;
    border: 1px solid #00ffff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 70px;
    color: #ff00ed;
    -moz-box-shadow: inset -7px -7px 7px #00ffff,inset 7px 7px 7px #ffffff;
    -webkit-box-shadow: inset -7px -7px 7px #00ffff,inset 7px 7px 7px #ffffff;
    /*padding: 0px 0px;*/
    margin: 10px auto;
    /*margin: 0 5px;*/
}


@keyframes slidein_okm {
  from{
    margin-left: 90%;
    width: 100px;
    transform: rotate(720deg);
  }
  to {
    margin-left: 0%;
    width: 100px;
    transform: rotate(0deg);
  }
}

img#okm{
  width: 10vw;
  animation-duration: 2s;
  animation-name: slidein_okm;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

p#neko{
  font-size: 4vw;
  text-align: center;
  color: #000aff;
}
