div#imgs{
  width: 500px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

div#btns{
  width: 300px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

img{
  width: 400px;
  position: absolute;
  z-index: 0;
  padding-left: 50px;
  padding-right: 50px;
}

h1.shadow {
  line-height: 5px;
  font-size: 80px;
  font-family: fantasy;
  color: #00274b;
	text-shadow:
		-5px -5px 5px #ff00de,
		5px -5px 5px #0dff00,
		-5px 5px 5px #ff00de,
		5px 5px 5px #0dff00;
  width: 560px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation:blink 1.0s ease-in-out infinite alternate;
  -moz-animation:blink 1.0s ease-in-out infinite alternate;
  animation:blink 1.0s ease-in-out infinite alternate;
}

.maruBtn {
    font-size: 40px;
    font-weight:bold;
    width: 60px;
    height: 38px;
    background: #ff00bf;
    border: 1px solid #ff0000;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    color: #420075;
    -moz-box-shadow: inset -7px -7px 7px #ff0000,inset 7px 7px 7px #ffffff;
    -webkit-box-shadow: inset -7px -7px 7px #ff0000,inset 7px 7px 7px #ffffff;
    padding: 0px 10px 60px;
    margin: 0 5px;
}

.maruBtn:active{
  background:#faff00;
  color: #ff00ed;
  -moz-box-shadow: inset -7px -7px 7px #00ffff,inset 7px 7px 7px #ffffff;
  -webkit-box-shadow: inset -7px -7px 7px #00ffff,inset 7px 7px 7px #ffffff;
}


@-webkit-keyframes blink{
    0% {color: #0dff00;}
    100% {color: #ff00de;}
}
@-moz-keyframes blink{
    0% {color: #0dff00;}
    100% {color: #ff00de;}
}
@keyframes blink{
    0% {color: #0dff00;}
    100% {color: #ff00de;}
}
